body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    color: #63a8a4; 
}
* {
 box-sizing: border-box;

}
.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
h1,
h2,
h3,
p{
    margin-bottom: 20px;
}


h1,
h2,
h3{
    font-family: roboto;
    font-weight: bolder;
    color: #63a8a4;
}

h1{
    padding-bottom: 
}